<form method="post" action="/articles/<%= @article.id %>">
<input id="hidden" type="hidden" name="_method" value="PATCH">

  <label for="title">Title: </label>
  <input type="text" id="title" name="title"> <%= @article.title %> </input>
  <label for="content">Content:</label>
  <input type="text" id="content" name="content"> <%= @article.content %> </input>
  <input type="submit">
  
</form>